{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form class="form-floating">
                <input class="form-control mt-3" name="buscar" required id="id_nombre" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                <label for="id_nombre">Ingresa el nombre de quien quieres buscar</label>
                <div class="mt-3 ms-4">
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit" value= "submit">Buscar</button>
                </div>
            </form>
            <div class=" mt-4 ms-2 border border-dark">
                <div class="ms-5 mt-5 mb-5">
                    <h1>Nombre: {{ cliente.nombre }}</h1>
                    <p>Correo Electronico: <i>{{ cliente.email }}</i></p>
                    <p>Numero Telefonico: <i>{{ cliente.numeroT }}</i></p>
                    <p>descripcion: <i>{{ cliente.descripcion }}</i></p>
                    <p>
                        <a href="{% url "porfolio:dash" %}"><button class="btn btn-primary btn-xl">Regresar</button></a>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}