{% extends 'base.html' %}
{% block content %}
<header class="masthead">
<form method="post">
    {% csrf_token %}
    <section class="" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0" style="color:#fff">{% if not cliente %}Formulario Nuevo Usuario{% else %}Formulario de Edicion de Datos{% endif %}</h2>
                        <hr class="divider" />
                        <p class=" mb-5"  style="color:#fff">Ingresa tus dados para agregarte a nuestra base de datos y comunicarnos lo antes posible con usted</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="nombre" required id="id_nombre" type="text" placeholder="Enter your name..." data-sb-validations="required" value="{{cliente.nombre}}" />
                                <label for="id_nombre">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="id_nombre:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="email" required id="id_email" type="email" placeholder="name@example.com" data-sb-validations="required,email" value="{{ cliente.email }}" />
                                <label for="id_email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="id_email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="id_email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" name="numeroT" maxlength="10" minlength="10" pattern="[0-9]+" required id="id_numeroT" type="text" placeholder="(123) 456-7890" data-sb-validations="required" value="{{ cliente.numeroT }}" />
                                <label for="id_numeroT">Phone number</label>
                                <div class="invalid-feedback" data-sb-feedback="id_numeroT:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="descripcion" required id="id_descripcion" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" rows="9">{{ cliente.descripcion }}</textarea>
                                <label for="id_descripcion">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="id_descripcion:required">A message is required.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit" value= "submit">{% if cliente %}Editar Datos{% else %}Agregar{% endif %}</button></div>
                            <br />
                            <div class="text-center mb-3 d-grid">
                <a class="btn btn-primary btn-xl" href="{% if not cliente %}{% url "porfolio:dash" %}{% else %}{% url 'porfolio:list' %}{% endif %}">Regresar</a>
                </div>
                    </div>
                </div>
            </div>
        </section>
</form>
</header>
{% endblock %}
